<odoo>
    <!-- Root Menu -->
    <menuitem id="menu_oig_root" name="OIG Management" sequence="1"/>

    <!-- Agents Menu -->
    <menuitem id="menu_oig_agents" name="Agents" parent="menu_oig_root" sequence="2" action="action_oig_agent"/>

    <!-- Contributions Menu -->
    <menuitem id="menu_oig_contributions" name="Contributions" parent="menu_oig_root" sequence="3" action="action_contribution"/>

    <!-- Services Menu -->
    <menuitem id="menu_oig_service" name="Services" parent="menu_oig_root" sequence="4" action="action_oig_service"/>

    <!-- Commissions Menu -->
    <menuitem id="menu_commission" name="Commissions" parent="menu_oig_root" sequence="5" action="action_commission"/>

    <!-- Regions Menu -->
    <menuitem id="menu_region_root" name="Regions" parent="menu_oig_root" sequence="6" action="action_region"/>
</odoo>